.App {
  text-align: center;
}



.App-header {
  background: linear-gradient(to bottom, blue 20% ,white 50%, red 80%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



form {
    padding: 10px;
    background-color: red;
    display: flex;
    flex-direction: column;
  }

  .input-field {
    padding: 10px;
    text-align: left;
  }

  input,
  select,
  textarea {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;

  }

  input[type="submit"]{
    background: #333;
    color: #fff;
  }


  .dialog{
    width: 60vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background: white;
    color: #333;
    padding: 20px;
    text-align: left;
  }

  .dialog div.lined{
    padding: 10px 0px;
    border-bottom: 1px solid #333;
  }